<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link  rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">

</head>
<body>

    <h1>Módulo Cliente</h1>
<hr>
<ul>
    <li>
        <a href="{{ url_for('cliente.cadastro') }}"> Cadastro </a>
    </li>
    <li>
        <a href="{{ url_for('cliente.extrato') }}"> Extrato </a> </li>
</ul>
<hr>
<a href="{{ url_for('home.root') }}"> Voltar para Home </a>

</body>
</html>
